@model List<Employee>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_SidebarLayout.cshtml";
}


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_SidebarLayout.cshtml";
}

@*Department detail controllerı üzerinden ilgili birim adını ekrana viewbag ile bastırdık.*@
@ViewBag.departmentName 

<table class="table table-bordered">
    <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>City</th>
    </tr>
    @foreach (var employee in Model)
    {
        <tr>
            <td>@employee.EmployeeName</td>
            <td>@employee.EmployeeSurname</td>
            <td>@employee.City</td>
           


        </tr>
    }
</table>




